@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Serif:wght@700&display=swap');

/* GENERAL CONFIG */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    background-color: #D93E30;
    overflow-x: hidden;
}

/* HEADER AND NAVBAR */
#navbar {
    background-color: #0D0D0D;
    border: 0px;
    border-radius: 0px;
}

#logo-img {
    width: 3em;
    height: 3em;
    margin-right: 20px;
}

.container {
    padding: 0.2em;
}

header a {
    text-decoration: none;
    color: #f2f2f2;
}

header a p {
    color: #D93E30;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.7em;
}

.navbar-brand h1 {
    font-weight: bolder;
    margin-bottom: 1px;
    margin-top: 10px; 
    font-size: 1.4em;
    line-height: .80;
}

.navbar-brand:hover {
    color:#f2f2f2;
}

.nav-item {
    margin-right: 10px;
}

.nav-item a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.1em;
    font-weight: 600;
}

.nav-item ul li {
    list-style: none;
}

.nav-item a:hover {
    color: #F2B90F;
}