@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Serif:wght@700&display=swap');

/* GENERAL CONFIG */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    background-color: #D93E30;
    overflow-x: hidden;
}

/* HEADER AND NAVBAR */
#navbar {
    background-color: #0D0D0D;
    border: 0px;
    border-radius: 0px;
}

#logo-img {
    width: 3em;
    height: 3em;
    margin-right: 20px;
}

#container-navbar {
    padding: 0.2em;
}

header a {
    text-decoration: none;
    color: #f2f2f2;
}

header a p {
    color: #D93E30;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.7em;
}

.navbar-brand h1 {
    font-weight: bolder;
    margin-bottom: 1px;
    margin-top: 10px; 
    font-size: 1.4em;
    line-height: .80;
}

.navbar-brand:hover {
    color:#f2f2f2;
}

.nav-item {
    margin-right: 10px;
}

.nav-item a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.1em;
    font-weight: 600;
}

.nav-item ul li {
    list-style: none;
}

.nav-item a:hover {
    color: #F2B90F;
}

.bi-telephone {
    margin-right: 5px;
}

@media (max-width: 591px) {
    #container-navbar {
        margin-left: 1.2em;
    }
}
/* HEADER END */

/* CALL BUTTON ON MOBILE */
#call-btn {
    height: 6em;
    background-color: #D9CBBA;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 30px;
    display: block;
}

#number {
    font-size: 1.5em;
    font-weight: 700;
    line-height: .5;
}

.btn .bi-telephone {
    margin-right: 8px;
}

#xs-deliver {
    font-size: 1em;
    font-weight: 600;
    line-height: .5;
}

@media (max-width: 991px) {
    #call-btn {
        height: 90%;
        width: 90%;
        font-size: 70%;
    }
}

@media (min-width: 992px) {
    #call-btn {
        visibility: hidden;
        display: inline;
    }
}
/* MOBILE CALL BUTTON END */

/* HOME PAGE */
#jumbotron {
    background-color: #D9CBBA;
    box-shadow: 0px 8px 50px #0D0D0d30;
}

#jumbotron img {
    border-radius: 10px;
}

@media (max-width: 576px) {
    #jumbotron {
        width: 90%;
        height: 90%;
    }
}

/* Navigation Tiles */
#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #0D0D0D;
    border-radius: 10px;
    overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0px 1px 5px 1px #F29472;
}

#menu-tile {
    background: url(../images/food-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#specials-tile {
    background: url(../images/food-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #111;
    color: #f2f2f2;
    opacity: 0.8;
}
/* END OF HOME PAGE */

/* FOOTER */
.panel-footer {
    background-color: #0D0D0D;
    margin-top: 5em;
}

#hours, #address, #testimonials {
    padding: 2 2em 1em 2em;
    color: #f2f2f2;

}

#hours h6, #address h6, #testimonials h6 {
    font-family: 'Noto', serif;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: -1em;
}

#hours, #address {
    line-height: 1.7;
}

#testimonials {
    font-size: 0.9em;
    margin-top: 0.4em;
}

#testimonials p:nth-child(3) {
    margin-top: 0.8em;
}
#address p {
    font-size: 0.8em;
    color: #D93E30;
}

#copyright {
    margin-bottom: 1em;
    color: #f2f2f2;
}

@media (min-width: 576px) {
    .visible-sm {
        visibility: hidden;
    }

    #hours, #address, #testimonials {
        padding-top: 3em;
    }
}

@media (max-width: 575px) {
    .visible-sm {
        visibility: visible;
    }
    
    #hours, #address, #testimonials {
        text-align: center;
    }

    #hours {
        padding-top: 3em;
    }

    .menu-item-description .menu-item-title {
        margin-top: .5em;
    }
}

/****** MENU CATEGORIES PAGE ******/
#menu-categories-title {
    font-family: 'Noto', serif;
    font-weight: 700;
    font-size: 3em;
    margin: 1em 0 0.5em;
}

#menu-categories-title + div {   /* the next sibling */
    margin-bottom: 5em;
}

.category-tile {
    position: relative;
    border: 1px solid #111;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 30px;
}

.category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #111;
    color: #f2f2f2;
    opacity: 0.8;
}

.category-tile:hover{
    box-shadow: 0 1px 5px 1px #F29472;
}

@media (max-width: 479px) {
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}
/* END OF MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
    margin-bottom: 25px;
}

.menu-item-tile hr {
    width: 80%;
}

.menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -8px;
    margin-right: -15px;
}

.menu-item-price {
    font-weight: 600;
}

.menu-item-photo {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}

.menu-item-photo div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    border-radius: 10px;
    background-color: #D93E30;
    text-align: center;
    color: #f2f2f2;
    font-weight: 600;
}

.menu-item-description {
    padding-right: 30px;
}

.menu-item-description h3 {
    margin: 0 0 10px 15px;
    font-size: 1.3em;    
    font-weight: 600;
}

.menu-item-details {
    margin-left: 15px;
    font-size: 0.9em;
    font-style: italic;
}

@media (max-width: 767px) {
    .menu-item-photo {
        margin-right: auto;
    }

    .menu-item-tile .menu-item-price {
        text-align: center;
    }

    .menu-item-description {
        text-align: center;

    }

    .menu-item-tile hr {
        margin: 0 auto;
    }
    
    .visible-md {
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .visible-md {
        visibility: hidden;
    }
}
/* END OF SINGLE CATEGORY PAGE */